.comparison-block {
	display: flex;
  	flex-direction: row;
  	justify-content: space-around;
  	width: 100%;
	align-items: center;
	

	.searchIcon {
		height: 30em;
		width: 30em;
		font-size: .03rem;
		margin-left: -30px;
		margin-top: 13px;
		position: absolute;
		color: #0b0b0b;

		-webkit-transform: scaleX(-1);
  		transform: scaleX(-1); 
	}

	input {
		border: none;

		&[type=search] {
			border-radius: 4px;
			width: 90%;
			margin-inline: 5%;
			margin-top: 10px;
			padding-right: 25px;

			:focus {
				border: 1px solid #333;
			}
		}
		&[type=button] {
			height: 3em;
			width: 3em;
			font-size: .5rem;
			aspect-ratio: 1/1;

			&:last-child {
				width: 5em;
				margin-inline: 5px;
			}

			&[value='+']{
				width: 2em;
				height: 2em;
				border-radius: 50%;
				font-size: 2em;
				margin: 0;
				margin-left: 10px;
				background-color: #a9a9a9;
				box-shadow: 0 1px 5px #0b0b0b;
			}

			&[value='❌'] {
				width: 100%;
				align-self: center;
				border-radius: 5px 5px 0 0;
				background-color: #333;
			}
		}
	}

	.one-block{
		text-align: center;
		width: 30em;
		margin: 5px;
	}
	.inform-block{
		// box-shadow: 0 1px 5px #0b0b0b;
		border-radius: 0 0 12px 12px;
		background-color: #525252;
		min-height: 10em;
		min-width: 5em;
		text-align: left;
	}
}